@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    background-color: rgb(108, 42, 42);
    color: rgb(12, 11, 11);
  }
  .card {
    background-color: white;
    width: 150px;
    height: 250px;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    box-shadow: 5px 0 5px -2px rgb(12, 12, 12);
  }
  .card-symbol {
      display: inline-block;
      position: absolute;
    }
  .card-symbol.top {
      top: 5px;
      left: 10px;
      font-size: 50px;
    }
  .card-symbol.bottom {
      bottom: 5px;
      right: 10px;
      font-size: 50px;
    }
  .card-value {
      font-size: 40px;
      position: absolute;
      top: 40%;
      left: 40%;
    }
  .card.spades,
  .card.clubs {
    color: black;
  }
  .card.hearts,
  .card.diamonds {
    color: red;
  }
  #random{
      margin-left: 15px;
      margin-right: 15px;
      
  }

  h1{
      color: white;
      text-align: center;
  }
  #cardContainer {
      
     
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .inputButtons{
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
  }
  
  label{
      font-size: 25px;
  }
  button{
      border-radius: 5px;
      background-color: white;
      color: black;
  }
  button:hover{
      background-color: gray;
      color: white;
    
  }
  #cartaContainer{
    display: flex;
    
    justify-content: center;
  }